#inGame{
    -fx-background-image: url("home.gif");
    -fx-background-size:  cover;
}

#inGameText{
	-fx-font-size : 20px;
	-fx-fill: #000000;
	-fx-translate-y : 25px;
	-fx-font-familly: url("COCO.ttf");
	-fx-background-color:  #ffffff;
}


#gidInGame{
	-fx-lines-visible : true;
	-fx-background-color:  #ffffff;
}


#leftPart{
	-fx-translate-x: 30px;
	-fx-background-color:  #ffffff;
	-fx-background-insets:	50px, 0px, 100px, 0px;
}

#alertBoucle{
	-fx-text-fill:  #ff0000;
	-fx-font-size:  20px;
	-fx-text-alignment: center;
	-fx-padding: 10px;
}

#pathVBox {
	-fx-translate-x: 20px;
	-fx-translate-y: 200px;
}
#pathVBox CheckBox {
	-fx-padding: 5;
}


#rightPart{
	-fx-translate-x: -30px;
	-fx-background-color:  #ffffff;
}

#alertBox{
	-fx-background-color:  #ffffff;
	-fx-alignment:  center;
	-fx-background-insets:  250px;
	-fx-background-radius:  20px;
}

#replayVBox, #replayHBox{
	-fx-alignment:  center;
}

#homeButton{
	-fx-cursor : hand;
}