#inGameText{
	-fx-font-size : 20px;
	-fx-fill: #ff0000;
	-fx-translate-y : 50px;
}


#inGame{
    -fx-background-image: url("home.gif");
    -fx-background-size:  cover;
}

#gidInGame{
	-fx-lines-visible : true;
}