#inGame{
    -fx-background-image: url("home.gif");
    -fx-background-size:  cover;
}

#inGameText{
	-fx-font-size : 20px;
	-fx-fill: #000000;
	-fx-translate-y : 25px;
	-fx-font-familly: url("COCO.ttf");
	-fx-background-color:  #ffffff;
}


#gidInGame{
	-fx-lines-visible : true;
	-fx-background-color:  #ffffff;
}


#leftPart{
	-fx-translate-x: 30px;
}

#alertBoucle{
	-fx-text-fill:  #ff0000;
	-fx-font-size:  20px;
	-fx-text-alignment: center;
	-fx-padding: 10px;

	-fx-background-color:  #ffffff;
}

#pathVBox {
	-fx-translate-x: 20px;
	-fx-translate-y: 200px;
}
#pathVBox CheckBox {
	-fx-padding: 5;
}


#rightPart{
	-fx-translate-x: -30px;
}

#alertBox{
	-fx-background-color:  #ffffff;
	-fx-alignment:  center;
	-fx-background-insets:  250px;
	-fx-background-radius:  20px;
}

#replayVBox, #replayHBox{
	-fx-alignment:  center;
	-fx-cursor: hand;
}

#homeButton{
	-fx-cursor : hand;
}


#buttonsRight{
	-fx-spacing: 20;
}

#viewsRight{
	-fx-padding: 70 0 0 0;
	-fx-spacing: 25;
}

#saveButton, #cancelButton{
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.labelRight{
	-fx-label-padding: 12;
	-fx-text-alignment: right;
}